<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="#" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/controller.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <link href="/static/graph.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
</head>

<body>
	<h1>Neutrino Spectrum Charts</h1>
	<div id="chartLink">
	Jump to Chart:
	{% for reactor in data %}
	<a href="#head{{ reactor.reactor }}">{{ reactor.reactor }}</a>
	{% endfor %}
	</div>
     {% block content %} {% for reactor in data %}
    <div>
		<h2 id="head{{ reactor.reactor }}" >{{ reactor.reactor }}</h2>
        <canvas id={{ reactor.reactor }} width="100" height="200"></canvas>
    </div>

    <script>
        // load the objects like you would with a normal jinja template i.e. {{ object }}, but add | tojson
        // pass it into the parse function

        ctx = document.getElementById("{{ reactor.reactor }}");

        chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',
			yAxes: [{type: 'logarithmic'}],
            // The data for our dataset
            data: {
                labels: {{ reactor.label }},
                datasets: [{
                    backgroundColor: 'rgb(40, 166, 99)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: {{ reactor.data }}
                }]
            },

            // Configuration options go here
            options: {
				legend: {
					display: false,
				},
			    responsive: true,
				maintainAspectRatio: false,
				scales: {
					yAxes: [{
							scaleLabel: {
								fontSize: 30,
								display: true,
								labelString: 'No. anitneutrinos per MeV per second'
						},
						ticks: {
							fontSize: 20,
							callback: function (value, index, values) {
								 return value.toExponential();
							 }
						}
					}],
					xAxes: [{
						scaleLabel: {
							fontSize: 30,
							display: true,
							labelString: 'Energy level [MeV]'
						},
						ticks:{
							fontSize: 15
						}
					}],
				}
			}
        });
    </script>
    {% endfor %} {% endblock %}





</body>

</html>