<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="#" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/controller.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <link href="/static/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
</head>

<body>
    <div class="jumbotron text-center">
        <h1>CANDU Nuetrino Spectrum Calculator</h1>
    </div>

    <form action="/calculate" method="post" id="CANDU-form">
        <div class="container">
            <h3>1. Choose the Time Period</h3>
            <div class="row justify-content-md-center row-date">
                <div class="form-group">
                    <!-- Start Date input -->
                    <label class="control-label" for="startDate">Start Date</label>
                    <input class="form-control date" id="startDate" name="startDate" placeholder="MM/DD/YYY" type="text" autocomplete="off" required>
                </div>
            </div>
            <div class="row justify-content-md-center row-date">
                <div class="form-group">
                    <!-- End Date input -->
                    <label class="control-label" for="endDate">End Date</label>
                    <input class="form-control date" id="endDate" name="endDate" placeholder="MM/DD/YYY" type="text" autocomplete="off" required>
                </div>
            </div>
            <div>
                <h3>2. Choose Reactors to Include</h3>
            </div>
            <div class="row justify-content-md-center row-reactors">
                <div class="col-sm-auto reactor-col-1 form-group">
                    <ul class="bruce-list">
                        <li class="first-item"><input type="checkbox" class="parent" data-group=".bruce" id="bruce-all" /><label for="bruce-all"><b>Bruce (All)</b></label></li>
                        <li><input type="checkbox" class="bruce" name="check[]" id="BRUCEA-G1" /><label for="BRUCEA-G1">BRUCEA-G1</label></li>
                        <li><input type="checkbox" class="bruce" name="check[]" id="BRUCEA-G2" /><label for="BRUCEA-G2">BRUCEA-G2</label></li>
                        <li><input type="checkbox" class="bruce" name="check[]" id="BRUCEA-G3" /><label for="BRUCEA-G3">BRUCEA-G3</label></li>
                        <li><input type="checkbox" class="bruce" name="check[]" id="BRUCEA-G4" /><label for="BRUCEA-G4">BRUCEA-G4</label></li>
                        <li><input type="checkbox" class="bruce" name="check[]" id="BRUCEB-G5" /><label for="BRUCEB-G5">BRUCEB-G5</label></li>
                        <li><input type="checkbox" class="bruce" name="check[]" id="BRUCEB-G6" /><label for="BRUCEB-G6">BRUCEB-G6</label></li>
                        <li><input type="checkbox" class="bruce" name="check[]" id="BRUCEB-G7" /><label for="BRUCEB-G7">BRUCEB-G7</label></li>
                        <li><input type="checkbox" class="bruce" name="check[]" id="BRUCEB-G8" /><label for="BRUCEB-G8">BRUCEB-G8</label></li>
                    </ul>
                </div>
                <div class="col-sm-auto reactor-col-2 form-group">
                    <ul class="darlington-list">
                        <li class="first-item"><input type="checkbox" class="parent" data-group=".darlington" id="dar-all" /><label for="dar-all"><b>Darlington (All)</b></label></li>
                        <li><input type="checkbox" class="darlington" name="check[]" id="DARLINGTON-G1"><label for="DARLINGTON-G1">DARLINGTON-G1</label></li>
                        <li><input type="checkbox" class="darlington" name="check[]" id="DARLINGTON-G2"><label for="DARLINGTON-G2">DARLINGTON-G2</label></li>
                        <li><input type="checkbox" class="darlington" name="check[]" id="DARLINGTON-G3"><label for="DARLINGTON-G3">DARLINGTON-G3</label></li>
                        <li><input type="checkbox" class="darlington" name="check[]" id="DARLINGTON-G4"><label for="DARLINGTON-G4">DARLINGTON-G4</label></li>
                    </ul>
                </div>
                <div class="col-sm-auto reactor-col-3 form-group">
                    <ul class="pickering-list">
                        <li class="first-item"><input type="checkbox" class="parent" data-group=".pickering" id="pick-all" /><label for="pick-all"><b>Pickering (All)</b></label></li>
                        <li><input type="checkbox" class="pickering" name="check[]" id="PICKERINGA-G1"><label for="PICKERINGA-G1">PICKERINGA-G1</label></li>
                        <li><input type="checkbox" class="pickering" name="check[]" id="PICKERINGA-G4"><label for="PICKERINGA-G4">PICKERINGA-G4</label></li>
                        <li><input type="checkbox" class="pickering" name="check[]" id="PICKERINGB-G5"><label for="PICKERINGB-G5">PICKERINGB-G5</label></li>
                        <li><input type="checkbox" class="pickering" name="check[]" id="PICKERINGB-G6"><label for="PICKERINGB-G6">PICKERINGB-G6</label></li>
                        <li><input type="checkbox" class="pickering" name="check[]" id="PICKERINGB-G7"><label for="PICKERINGB-G7">PICKERINGB-G7</label></li>
                        <li><input type="checkbox" class="pickering" name="check[]" id="PICKERINGB-G8"><label for="PICKERINGB-G8">PICKERINGB-G8</label></li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="form-group">
                    <!-- Submit button -->
                    <button class="button" name="submit" id="submit" type="submit"><span>Submit</span></button>
                </div>
            </div>
        </div>
        </forum>
</body>

</html>